@model IEnumerable<WebAnime.Models.ChuDe>

@foreach (var item in Model)
{
<a href="@Url.Action("SPTheochude", "AnimeFiguresShop", new { id = item.MaCD })" class="list-group-item">
    @item.Tenchude
</a>
}